<!DOCTYPE html>
<html lang="en">
{%- include theme.html -%}
{% include head.html %}
<body>
    <div class="body-wrapper">
        {% include navigation.html %}
        <div data-bookshop-live="page" data-bookshop-props="page">
            {% bookshop page content_blocks=page.content_blocks page_theme=page.page_theme %}
        </div>
        {{ content }}

        {% include footer.html %}

        <div class="dark-mode-toggle">
            <a id="js-dark-mode"
               class="n-button">
               {% include svg/darklightmode.svg %} <span id="js-mode-label">Dark Mode</span>
            </a>
        </div>
        <script type="text/javascript" src="/assets/js/dark-mode.js"></script>
    </div>
</body>
</html>